{% extends 'baseConnection.html.twig' %}

{% block title %}Hello AccueilconnexcionController!{% endblock %}

{% block body %}

<link href="css/stylePart.css" rel="stylesheet" type="text/css">

<br><br>
<a href="demanderdv"><button class="btn btn-success">Demande de rdv</button></a>
<a href="consultationrdv"><button class="btn btn-success">consultation de rdv</button></a>


{% endblock %}
