{% extends 'baseConnection.html.twig' %}

{% block title %}Hello AccueilconnexcionadmController!{% endblock %}

{% block body %}
<link href="css/stylePart.css" rel="stylesheet" type="text/css">
<br><br><br>
<a href="validationrdv"><button class="btn btn-success">validation de rdv</button></a>

<a href="services"><button class="btn btn-warning">Services</button></a>

{% endblock %}
