{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<link href="css/style.css" rel="stylesheet" type="text/css">



<div id="bgAccueil"><h2>Accueil</h2></div>

<div id="container">
    <a href="inscription"><button class="btn btn-warning" style="margin:60px">Inscription</button></a>
    <a href="connexionpatient"><button class="btn btn-warning" style="margin:60px">Connexion Patient</button></a>
    <a href="connexionsecretaire"><button class="btn btn-warning" style="margin:60px">Connexion Personel</button></a>
</div>
{% endblock %}
