{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionpatientController!{% endblock %}

{% block body %}
<link href="css/stylePart.css" rel="stylesheet" type="text/css">

<a href="/"><img src="img/arrow-left-square.svg" style="position:absolute;left:10px"></a>

<div class="connection">

<div class="board-connection">

<h2>Connection patient</h2>

<form method="post" style="margin:60px" action="connexionpatient">


  <label for="email">Email</label><br>
  <input type="email" id="email" name="email" required><br>

  <label for="passwd">Mot de pass:</label><br>
  <input type="password" id="passwd" name="passwd" required><br>

  <div id="alert"></div>
<br>

  <input type="submit" value="Envoyer">
  
</form>

</div>
</div>
{% endblock %}
